
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

/*===============================HEADER============================================*/
/*===============================header-top============================================*/

body {
    font-family: "Roboto";
}

.header {
    background-image: url(./image/backgraund-start.png);
}

.header-wraper {
    max-width: 1130px;
    margin: 0 auto;
    padding: 30px 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top ul {
    display: flex;
    justify-content: space-between;
}

.header__top ul li {
    margin-right: 40px;
    font-family: "Raleway";
    font-size: 14px;
    letter-spacing: 0.05em;
}
.header__top ul li a {
    color: #ffffff;
}

.header__top ul li:last-child {
    margin: 0;
}

/*===================================Header-center==========================================*/

.header-center {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 48px;
    color: #D4C17F;
    max-width: 556px;
    margin: 0 auto;
    padding: 200px 0 340px 0;
    text-align: center;
}

/*===================================Header-bottom==========================================*/

.header-bottom {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 72px;
}

.header-bottom__geo, .header-bottom__tel{
    display: flex;
    align-items: center;
}

.header-bottom__geo img, .header-bottom__tel img {
    margin-right: 18px;
}

.header-bottom__tel a {
    color: #ffffff;
}


/*=====================================DESCRIPTION=====================================*/

.description {
    background-color:  #242B33;
    color: #ffffff;
}

.description-wraper {
    display: flex;
    justify-content: space-between;
    padding: 120px;
    text-align: center;
    line-height: 27px;
}

.description-wraper__img1 img,
.description-wraper__img2 img,
.description-wraper__img3 img,
.description-wraper__img4 img {
    margin-bottom: 20px;
}

/*=======================================APARTAMENTS======================================*/

.apartament {
    background: #242B33;
    color: #ffffff;
}
.apartament-wraper {
    max-width: 1350px;
    margin: 0 auto;
    padding-left: 120px;
}

.apartament-wraper h2 {
    color: #D4C17F;
    font-family: "Playfair Display";
    font-size: 36px;
    margin-bottom: 100px;
}

.loft1 {
    background: url(./image/apartament1img.png) no-repeat;
    margin-right: 30px;
    display: inline-block;
    
}

.loft2 {
    background: url(./image/apartament2img.png) no-repeat;
    display: inline-block;
}

.loft3 {
    background: url(./image/apartament3img.png) no-repeat;
    display: inline-block;
    margin-right: 30px;
}

.loft4 {
    background: url(./image/apartament4img.png) no-repeat;
    display: inline-block;
}

.loft {
    width: 535px;
    height: 320px;
    position: relative;
}

.loft span {
    font-family: "Raleway";
    font-size: 24px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.apartament__row1 {
    margin-bottom: 50px;
}